@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <!--Blog Features Section-->
        <section id="blog_details" class="blog_details roomy-40">
            <div class="container">
                <div class="row">

                    <div class="col-md-8">
                        <div class="main_blog_details">

                            <div class="blog_details_left">
                                <div class="blog_details_content">
                                    <div class="blog_details_head m-top-40">
                                        <div class="blog_date">
                                            <span>28</span> <br />
                                            <span>Fab</span>
                                        </div>
                                        <div class="head_text">
                                            <h2>祠壇移轉碑記</h2>
                                            <ul class="list-inline">
                                                <li><a href="#" class="text-black">Fashion</a></li>
                                                <li><a href="#" class="text-black">Feb 28th 2015</a></li>
                                            </ul>
                                            <a href="~/edit">編輯</a>
                                        </div>
                                        
                                    </div>
                                    <div class="blog_details_img">
                                        <img src="~/imageuploads/2AE23EC17F013B2A087892927A674F0B.jpg" alt="" />
                                    </div>
                                    <div class="blog_details_figure m-top-40">
                                        <p>圖片權利註記: 60 </p>
                                        <p>創作者: 陳柱卿</p>
                                        <p>時間資訊-時間: 1916-01-12</p>
                                        <p>地點-詳細地址: 關聖帝君</p>
                                        <p>撰寫者: 不明</p>
                                        <p>創立起始年: 1916</p>
                                        <p>作品分類1: 國家文化記憶庫分類</P>
                                        <p>作品分類2: 民俗與宗教</p>

                                        <p class="m-top-30">
                                            溯夫祠壇之設，本自前清康熙二十三年始也，原建媽宮西城海濱，土名西垵仔，高不過尋、寬不及弓，初■其名曰「無祠壇」，後又稱曰「大眾廟」，祠左有大墳，即埋瘞枯骨處也。乾隆十五年，前清澎廳何器仝協鎮邱有章等公捐增修廓大；廿九年，右營游府戴福等公捐重修；四十六年，協鎮招成萬等復重修，立有碑記。自是之後，屢經地方官憲捐項興修，故雖歷二百餘年之久，而舊制尚存，歲時郊戶每致祭焉。 迨至大正二年三月，該地為海軍買收，即給移轉料金貳佰員，因再購是地而重新改建焉，又更其名曰「祠壇」；壇之側仍附以大墓三個、兼備貯骸場壹所，計費工料金參佰貳拾六員，於大正五年八月興工，仝年十一月落成，董其事者媽宮區長陳柱卿等是也。第恐年湮代遠，時事無稽，爰勒石以垂不朽云。 Ｆ

                                        </p>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div><!-- End off col-md-8 -->

                    <div class="col-md-4">
                        <div class="blog_saidbar sm-m-top-70">
                            <div class="said_ctg fix">
                                <h6 class="text-uppercase">目錄</h6>
                                <ul class="text-uppercase m-top-40">
                                    <li><a href="">祭祀對象 <span class="pull-right">(29)</span></a></li>
                                    <li><a href="">地理位置 <span class="pull-right">(29)</span></a></li>
                                    <li><a href="">過去是否有亡者 <span class="pull-right">(29)</span></a></li>
                                    <li><a href="">起源 <span class="pull-right">(29)</span></a></li>
                                    <li><a href="">特殊事蹟經歷 <span class="pull-right">(29)</span></a></li>
                                </ul>
                            </div>

                            <div class="said_post fix m-top-70">
                                <h6 class="m-bottom-40 text-uppercase">最新文章</h6>
                                <div class="post_item">
                                    <div class="item_img">
                                        <img src="assets/images/s-post-img1.jpg" alt="" />
                                    </div>
                                    <div class="item_text">
                                        <h6>it’s been a long day without you</h6>
                                        <p><i class="fa fa-clock-o"></i> July 20th, 2015</p>
                                    </div>
                                </div>
                                <div class="post_item">
                                    <div class="item_img">
                                        <img src="assets/images/s-post-img2.jpg" alt="" />
                                    </div>
                                    <div class="item_text">
                                        <h6>it’s been a long day without you</h6>
                                        <p><i class="fa fa-clock-o"></i> July 20th, 2015</p>
                                    </div>
                                </div>
                                <div class="post_item">
                                    <div class="item_img">
                                        <img src="assets/images/s-post-img3.jpg" alt="" />
                                    </div>
                                    <div class="item_text">
                                        <h6>it’s been a long day without you</h6>
                                        <p><i class="fa fa-clock-o"></i> July 20th, 2015</p>
                                    </div>
                                </div>
                                <div class="post_item">
                                    <div class="item_img">
                                        <img src="assets/images/s-post-img4.jpg" alt="" />
                                    </div>
                                    <div class="item_text">
                                        <h6>it’s been a long day without you</h6>
                                        <p><i class="fa fa-clock-o"></i> July 20th, 2015</p>
                                    </div>
                                </div>
                                <div class="post_item">
                                    <div class="item_img">
                                        <img src="assets/images/s-post-img5.jpg" alt="" />
                                    </div>
                                    <div class="item_text">
                                        <h6>it’s been a long day without you</h6>
                                        <p><i class="fa fa-clock-o"></i> July 20th, 2015</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End off col-md-4 -->

                </div><!-- End off row -->

            </div><!-- End off container -->
        </section><!-- End off blog Fashion -->