@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
        <!--About Sections-->
        <section id="feature" class="feature p-top-100">

            <!--Our Work Section-->
            <div class="container">
                <div class="row">
                    <div class="main_work">

                        <div class="col-md-7 col-md-offset-5 col-sm-12 col-xs-12">
                            <div class="work_item">
                                <div class="row">
                                    <div class="col-md-7 col-sm-12 col-xs-12 text-right pull-right sm-text-center">
                                        <div class="work_item_img">
                                            <img src="~/images/地方志_01.png" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-xs-12 text-right pull-left sm-text-center">
                                        <div class="work_item_details m-top-80 sm-m-top-20">
                                            <h4><a class="" href="local-history.html">澎湖地方志書數位化</a></h4>
                                            <div class="work_separator1"></div>
                                            <p class="m-top-40 sm-m-top-10">針對已數位化、且可取得授權之澎湖地方志書共36冊，重新與各出版機關洽商取得授權上線。
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End off work-item -->

                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="work_item">
                                <div class="row">
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                        <div class="work_item_img sm-text-center sm-m-top-40">
                                            <img src="~/images/王爺廟.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-xs-12 text-left pull-left sm-text-center">
                                        <div class="work_item_details m-top-80 sm-m-top-20">
                                            <h4><a class="" href="temple.html">王爺信仰與記憶</a></h4>
                                            <div class="work_separator2"></div>
                                            <p class="m-top-40 sm-m-top-10">
                                                針對馬公市所有主祀神為王爺或王爺位居配祀神的廟宇，其廟宇的歷史沿革、文獻、照片記錄進行數位化。</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End off work-item -->

                        <div class="col-md-7 col-md-offset-5 col-sm-12 col-xs-12">
                            <div class="work_item">
                                <div class="row">
                                    <div class="col-md-7 col-sm-12 col-xs-12 text-right pull-right sm-text-center">
                                        <div class="work_item_img sm-m-top-40">
                                            <img src="~/images/王船.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-xs-12 text-right pull-left sm-text-center">
                                        <div class="work_item_details m-top-80 sm-m-top-20">

                                            <h4><a class="" href="ship.html">王船工藝技術</a></h4>
                                            <div class="work_separator1"></div>
                                            <p class="m-top-40 sm-m-top-10">
                                                針對鎖港王船建造過程記錄及王船工藝及其對各部件名稱用途進行數位化，並比較王旭輝老師王船與其他王船之差異。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End off work-item -->

                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="work_item">
                                <div class="row">
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                        <div class="work_item_img sm-text-center sm-m-top-40">
                                            <img src="~/images/飲食.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-xs-12 text-left pull-left sm-text-center">
                                        <div class="work_item_details m-top-80 sm-m-top-20">
                                            <h4><a class="" href="diet.html">歲時祭儀的冬至飲食文化記憶</a></h4>
                                            <div class="work_separator2"></div>
                                            <p class="m-top-40 sm-m-top-10">針對元宵乞龜、中元普渡、以及冬至祭儀三大歲時節慶有關文獻記載進行數位化。</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End off work-item -->

                        <div class="col-md-7 col-md-offset-5 col-sm-12 col-xs-12">
                            <div class="work_item">
                                <div class="row">
                                    <div class="col-md-7 col-sm-12 col-xs-12 text-right pull-right sm-text-center">
                                        <div class="work_item_img sm-m-top-40">
                                            <img src="~/images/陰廟.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-xs-12 text-right pull-left sm-text-center">
                                        <div class="work_item_details m-top-80 sm-m-top-20">
                                            <h4><a class="" href="cold-Temple.html">陰廟信仰與祭拜行為</a></h4>
                                            <div class="work_separator1"></div>
                                            <p class="m-top-40 sm-m-top-10">對於各陰廟所流傳事蹟、傳奇、街談巷議之採錄進行數位化。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End off work-item -->

                    </div>
                </div>
            </div>

        </section>
        <!--End off About section -->

        <!--Company section-->

        <section id="company" class="company bg-light">
            <div class="container">
                <div class="row">
                    <div class="main_company roomy-100 text-center">
                        <h3 class="text-uppercase">地理探索</h3>
                        <!-- map section-->
                        <div id="map" class="map">
                            <div class="ourmap"></div>
                        </div><!-- End off Map section-->


                    </div>
                </div>
            </div>
        </section>
        <!--Call To Action Section-->

        <section id="action" class="action roomy-100">
            <div class="container">
                <div class="row">
                    <div class="main_action text-center">
                        <h3 class="text-uppercase">地區</h3>

                        <div class="tag_cloud">
                            <ul>
                                <li><a href="village.html"><span>二崁村</span></a></li>
                                <li><a href="village.html"><span>重慶里</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- scroll up-->
        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div><!-- End off scroll up -->
    </div>

    <!--script>
        var map = new GMaps({
            el: '.ourmap',
            lat: 23.5645568,
            lng: 119.5637293,
            scrollwheel: false,
            zoom: 15,
            zoomControl: true,
            panControl: false,

            streetViewControl: false,
            mapTypeControl: false,
            overviewMapControl: false,
            clickable: false,
            styles: [{
                'stylers': [{ 'hue': 'gray' }, { saturation: -100 },
                { gamma: 0.80 }]
            }]
        });

    </script-->