@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


            <!--Home Sections-->

            <section id="hello" class="blog-banner bg-mega">
                <div class="overlay"><img class="home_img" src="~/images/地方志_home.png"></div>
                <div class="container">
                    <div class="row">
                        <div class="main_home text-center">
                            <div class="about_text">
                                <h1 class="text-white text-uppercase">國家文化記憶庫分類</h1>
                                <ol class="breadcrumb">
                                    <li><a href="~/index">澎湖島嶼生活記憶</a></li>
                                    <li class="active"><a href="~/blog">國家文化記憶庫分類</a></li>
                                </ol>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off Home Sections-->


        <!--Blog Features Section-->
            <section id="blog_fashion" class="blog_fashion roomy-100">
                <div class="container">
                   
                    <div class="row">
                        <div class="blog_area fix">
                            <div class="col-md-4">
                                <div class="blog_item m-top-30">
                                    <div class="blog_item_img">
                                        <img src="~/imageuploads/2AE23EC17F013B2A087892927A674F0B.jpg" alt="" />
                                    </div>
                                    <ol class="breadcrumb">
                                        <li><a href="＃" class="text-black">不明</a></li>
                                        <li><a href="#" class="text-black">2007 年</a></li>
                                    </ol>
                                    <h5><a href="~/pages/祠壇移轉碑記"> 祠壇移轉碑記 </a></h5>
                                    <p class="m-top-20">溯夫祠壇之設，本自前清康熙二十三年始也，原建媽宮西城海濱，土名西垵仔，高不...</p>
                                </div>
                            </div><!-- End off col-md-4 -->
                            <div class="col-md-4">
                                <div class="blog_item m-top-30">
                                    <div class="blog_item_img">
                                        <img src="~/images/地方志_01.png" alt="" />
                                    </div>
                                    <ol class="breadcrumb">
                                        <li><a href="#" class="text-black">林文鎮</a></li>
                                        <li><a href="#" class="text-black">2007 年</a></li>
                                    </ol>
                                    <h5>馬公市各里人文鄉土叢書 第15輯</h5>
                                    <p class="m-top-20">關於馬公市個里人文鄉土叢書 第15輯 簡介</p>
                                </div>
                            </div><!-- End off col-md-4 -->
                            <div class="col-md-4">
                                <div class="blog_item m-top-30">
                                    <div class="blog_item_img">
                                        <img src="~/images/地方志_01.png" alt="" />
                                    </div>
                                    <ol class="breadcrumb">
                                        <li><a href="#" class="text-black">林文鎮</a></li>
                                        <li><a href="#" class="text-black">2007 年</a></li>
                                    </ol>
                                    <h5>馬公市各里人文鄉土叢書 第15輯</h5>
                                    <p class="m-top-20">關於馬公市個里人文鄉土叢書 第15輯 簡介</p>
                                </div>
                            </div><!-- End off col-md-4 -->
                            <div class="col-md-4">
                                <div class="blog_item m-top-30">
                                    <div class="blog_item_img">
                                        <img src="~/images/地方志_01.png" alt="" />
                                    </div>
                                    <ol class="breadcrumb">
                                        <li><a href="#" class="text-black">林文鎮</a></li>
                                        <li><a href="#" class="text-black">2007 年</a></li>
                                    </ol>
                                    <h5>馬公市各里人文鄉土叢書 第15輯</h5>
                                    <p class="m-top-20">關於馬公市個里人文鄉土叢書 第15輯 簡介</p>
                                </div>
                            </div><!-- End off col-md-4 -->
                            <div class="col-md-4">
                                <div class="blog_item m-top-30">
                                    <div class="blog_item_img">
                                        <img src="~/images/地方志_01.png" alt="" />
                                    </div>
                                    <ol class="breadcrumb">
                                        <li><a href="#" class="text-black">林文鎮</a></li>
                                        <li><a href="#" class="text-black">2007 年</a></li>
                                    </ol>
                                    <h5>馬公市各里人文鄉土叢書 第15輯</h5>
                                    <p class="m-top-20">關於馬公市個里人文鄉土叢書 第15輯 簡介</p>
                                </div>
                            </div><!-- End off col-md-4 -->
                            <div class="col-md-4">
                                <div class="blog_item m-top-30">
                                    <div class="blog_item_img">
                                        <img src="~/images/地方志_01.png" alt="" />
                                    </div>
                                    <ol class="breadcrumb">
                                        <li><a href="#" class="text-black">林文鎮</a></li>
                                        <li><a href="#" class="text-black">2007 年</a></li>
                                    </ol>
                                    <h5>馬公市各里人文鄉土叢書 第15輯</h5>
                                    <p class="m-top-20">關於馬公市個里人文鄉土叢書 第15輯 簡介</p>
                                </div>
                            </div><!-- End off col-md-4 -->
                        </div>
                    </div>

                </div><!-- End off container -->
            </section><!-- End off blog Fashion -->